*{
  background-color: darksalmon;
}

.table_of_content {
  width: 300px;
  padding: 50px;
  margin: 20px;
  background-color: rgb(163, 62, 62);
  border: 15px rgba(165, 42, 42, 0.562);
}

.image{
  width: 25%;
  height: 25%;
  padding: 50px;
  margin: 5px;
}

.title {
    color: rgb(21, 93, 93);
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding: 50px;
    margin: 20px;
  }

.contact, .footer{
    font-size: x-large;
    color: white;
    font: bolder
}