*{
  background-color: darksalmon;
}

.table_of_content {
  font-size: 70px;
}

.image{
  width: 75%;
  height: 75%;
  flex: auto;
  align-items: center;
}

.title {
    color: rgb(21, 93, 93);
    font-family: "Comic Sans MS", cursive, sans-serif;
  }

.contact, .footer{
    font-size: x-large;
    color: white;
    font: bolder
}