*{
  background-color: darksalmon;
}

.table_of_content {
  font-size: 70px;
}

.image{
  width: 75%;
  height: 75%;
  flex: auto;
  align-items: center;
}

.title {
    color: rgb(21, 93, 93);
    font-family: sans-serif;
  }

.contact, .footer{
    font-size: x-large;
    color: white;
    font: bolder
}

.application{
  width: 35%;
  height: 35%;
  font-size: 50px;
  text-align: center;
  width: 50%;
}